@using Roads.Web.Mvc.Services
<nav class="navbar nav-road-theme navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img src="~/Content/Images/Logo-sm.png" />
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a title="@Html.GetLabel("G_Link_FindRoad_Title")" href="@Url.Action("FindRoad","Roads")">@Html.GetLabel("G_Link_FindRoad")</a>
                </li>
                <li class="menu-separator-line"></li>
                <li>
                    <a title="@Html.GetLabel("G_Link_AddRoad_Title")" href="@Url.Action("AddRoad","Roads")">@Html.GetLabel("G_Link_AddRoad")</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                @foreach (var lang in CultureHelper.AvailableLanguages)
                {
                    var aclas = Html.IsSelectedCulture(lang) ? "circle-button-active" : "circle-button";
                    <li>
                        <a href="@Html.CultureUrl(lang)" class="@aclas">@CultureHelper.FirstLetterUp(lang)</a>
                    </li>
                }

                @if (!User.Identity.IsAuthenticated)
                {
                    <li><a title="@Html.GetLabel("G_Link_LogIn_Title")" href="@Url.Action("LogIn", "Roads")">@Html.GetLabel("G_Link_LogIn")</a></li>
                    <li class="menu-separator-line"></li>
                    <li><a href="#">Sign Up</a></li>
                }
                else
                {
                    <li><a title="@Html.GetLabel("G_Link_AdminZone_Title")" href="@Url.Action("SiteSettings", "AdminZone")">@Html.GetLabel("G_Link_AdminZone")</a></li>
                    <li class="menu-separator-line"></li>
                    <li><a title="@Html.GetLabel("G_Link_LogOut_Title")" href="@Url.Action("LogOut", "Roads")">@Html.GetLabel("G_Link_LogOut")</a></li>
                }
            </ul>
        </div>
    </div>
</nav>

