<div class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 vertical-center">
                <img src="~/Content/Images/Logo-ft.png" />
            </div>
            <div class="col-md-4">
                <p>@Html.GetLabel("G_Footer_RoadsInfo")</p>
            </div>
            <div class="col-md-4">
                <ul>
                    <li><a href="#">@Html.GetLabel("G_Footer_PicturesquePlaces")</a></li>
                    <li><a href="#">@Html.GetLabel("G_Footer_PlacesToStay")</a></li>
                    <li><a href="#">@Html.GetLabel("G_Footer_HotelsAndRefueling")</a></li>
                    <li><a href="#">@Html.GetLabel("G_Footer_SaveTimeAndFuel")</a></li>
                    <li><a href="#">@Html.GetLabel("G_Footer_TravelWithoutTrafficJams")</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">

            </div>
            <div class="col-md-8">
                <br />
                Copyright © 2015. Powered by Ihor Hadzera.
            </div>
        </div>
    </div>
</div>
