@model Roads.Web.Mvc.RoadsServiceClient.StaticTranslationData
@{
    @Html.HiddenFor(s=>s.StaticTranslationId)
    @Html.HiddenFor(s => s.LanguageId)
    @Html.HiddenFor(s => s.ExtensionData)

    <tr>
        <td style="vertical-align: middle">
            @Model.Language.Name
        </td>
        <td>
            @Html.TextBoxFor(m => m.EnumKey, new { @class = "form-control" })
        </td>
        <td>
            @Html.TextBoxFor(m => m.Value, new { @class = "form-control" })
        </td>
    </tr>
}